/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */


 .get_code_opt_default_paywall_message {
  width: 90%;
  max-width: 490px;
  margin: 0 auto;
 }

 .get_code_default_message_container {
  display: flex;
  justify-content: center;
  max-width: 24rem;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 10px;
 	box-shadow: 0 1px 8px 4px #44444424;
  padding: 45px 0;
  align-items: center;
 }

 .get_code_default_message_container  p {
 	text-align: center;
  width: 75%;
  margin: 0 auto;
 }

.get_code_opt_default_paywall_message .help-tip {
  line-height: 1.25rem;
  margin-top: 2em;
  font-size: 0.75rem;
  color: rgb(75 85 99);
  text-align: center;
}

#get-code-button-container {
	  width: max-content;
	  margin: 0 auto;
}

.get_code-box {
  padding-top: 2.5rem;
  position: relative;
  top: -7em;
}

.element-with-fade-out {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  height: 4em;
}

.user-has-purchased {
  overflow: hidden; /* Ensure content doesn't overflow during animation */
  transition: height 0.5s ease; /* Adjust the duration and timing function as needed */
}

.slide-down-fade-out {
  opacity: 0;
  top: 60vh;;
  transition: top 1s ease-in, max-height 0.5s ease-in, opacity 0.8s ease-in;
}

#init-code-checkout-app{
  width: 200px;
    height: 60px;
    background: black;
    border-radius: 5px;
    color: white;
    display: block;
    text-align: center;
    padding-top: 20px;
}